html, body {
  background-color: #f1f1f1 !important;
}

/* Helper class */
.grid {
  display: -ms-grid;
  display: grid;
}

/* HEADER */
.header-top-menu {
  background: #212429;
  position: relative;
  height: 21.5rem;
}

.header-top-menu .fas, .header-top-menu .fab {
  color: #ffffff;
  border-left: 1px solid #65676a;
  padding: 0.75rem 1.35rem;
  line-height: 2rem;
}

.header-top-menu .fa-bars {
  border-right: 1px solid #65676a;
  border-left: none;
}

.header-top-menu .logo {
  margin-top: 1.25rem;
}

.header-top-menu .nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* SLIDER */
.slider {
  margin-top: -18.125rem;
  z-index: 1;
}

/* SIGN UP */
.sign-up {
  height: 11.25rem;
  padding: 2rem;
}

.sign-up h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.25rem;
}

.sign-up input {
  border: #ffffff;
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.9rem;
  padding: .5rem 1.75rem;
  width: 100%;
  outline-color: #212121;
}

.sign-up button {
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.85rem;
  background: #212121;
  color: #ffffff;
  padding: .6rem 1.75rem;
  border: 1px solid transparent;
  cursor: pointer;
}

.sign-up button:hover {
  background: #ffffff;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  color: #212121;
  border: 1px solid #212121;
}

/* POSTS */
/* ABOUT US */
.about {
  background: #212429;
}

.about-twitter-name, .about-comment-name {
  color: #ffffff;
}

.about-tweets {
  font-size: 0.9rem;
}

.about-twitt {
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.93rem;
  padding-top: 0.625rem;
  padding-bottom: 1.875rem;
  padding-left: 1.1rem;
}

.about-instagram .instagram-photo {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  background: #ffffff;
  height: 12.5rem;
}

.about-latest-comment {
  font-size: 0.875rem;
  font-family: 'Mrs_SaintDelafield', sans-serif;
}

.about-comment {
  padding: 0.93rem 0rem;
  border-bottom: 1px solid #65676a;
}

.about-comment:last-child {
  border-bottom: none;
}

.about .instagram-post {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.about .instagram-post:nth-child(2n) {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.about .instagram-post:nth-child(3n) {
  border-right: none;
  border-bottom: 1px solid #000;
}

.about .instagram-post:nth-child(5) {
  border-right: 1px solid #000;
  border-bottom: none;
}

.about .instagram-post:nth-child(4) {
  border-right: 1px solid #000;
  border-bottom: none;
}

.about .instagram-post:nth-child(6) {
  border-right: none;
  border-bottom: none;
}

.about .fa-twitter {
  color: #ffffff;
}

.about h6 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 3.75rem;
  margin-bottom: 2.8rem;
}

.about p {
  color: #ffffff;
}

.about .sign {
  height: 9.375rem;
  margin-bottom: 3.75rem;
  position: relative;
  background: #3a3c49 url("/images/sign.png") no-repeat bottom 15px right 15px;
}

/* FOOTER */
.footer {
  background: #17191c;
  color: #858687;
  text-transform: uppercase;
}

.footer a {
  text-decoration: none;
  color: #858687;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.footer a:hover {
  text-decoration: none;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */