@import '_misc/_mixin.scss';
@import '_misc/_theme.scss';

/* HEADER */
.header {
    background: $background-color;
    height: 21.5rem;
    &-nav-item a {
        color: $white;
        border: {
            left: 1px solid $gray;
        }
        padding: 1rem 1.25rem;
        line-height: 3rem;
    }

}
.nav {
    justify-content: flex-end;
}

/* ABOUT US */

.about {
    background: $background-color;
    &-twitter-name, &-comment-name {
        color: $white;
    }
    &-tweets {
        font-size: 0.9rem;
    }
    &-twitt {
        @include hind-light;
        font-size: 0.93rem;
        padding: {
            top: 0.625rem;
            bottom: 1.875rem;
            left: 1.1rem;
        }
    }
    &-instagram .instagram-photo {
        display: flex;
        flex-wrap: wrap;
        background: $white;
        width: 22.5rem;
        height: 12.5rem;
    }
    &-latest-comment {
        font-size: 0.875rem;
        @include mrssaint;
    }
    &-comment {
        padding: 0.93rem 0rem;
        border-bottom: 1px solid $gray;
    }
    &-comment:last-child {
        border-bottom: none;
    }

    .instagram-post {
        border: {
            right: 1px solid #000;
            bottom: 1px solid #000;
        } 
        width: 7.5rem;
        height: 6.25rem;
    }
    .instagram-post:nth-child(2n) {
        border: {
            right: 1px solid #000;
            bottom: 1px solid #000;
        } 
    }
    .instagram-post:nth-child(3n) {
        border: {
            right: none;
            bottom: 1px solid #000;
        } 
    }
    .instagram-post:nth-child(5) {
        border: {
            right: 1px solid #000;
            bottom: none;
        } 
    }
    .instagram-post:nth-child(4) {
        border: {
            right: 1px solid #000;
            bottom: none;
        } 
    }
    .instagram-post:nth-child(6) {
        border: {
            right: none;
            bottom: none;
        } 
    }
    

    .fa-twitter {
        color:$white;
    }
    h6 {
        color:$white;
        text-transform: uppercase;
        @include montserrat-bold;
        margin: {
            top: 3.75rem;
            bottom: 2.8rem;
        }
    }
    p {
        color:$white;
    }
    .sign {
        height: 9.375rem;
        margin-bottom: 3.75rem;
        position: relative;
        background: #3a3c49 url('/images/sign.png') no-repeat bottom 15px right 15px;
    }
}

/* FOOTER */

.footer { 
    background: $footer-color; 
    color: $footer-text; 
    text-transform: uppercase; 
    a {
        text-decoration: none;
        color: $footer-text;
        margin: {
            left: 0.6rem;
            right: 0.6rem;
        }
    &:hover {
        text-decoration: none;
        color: $white;
        }
    }
}