@import '_misc/_mixin.scss';
@import '_misc/_theme.scss';

html, body {
    background-color: $light-gray !important;
}
h1, h2, h3, h4, h5, h6,
input::placeholder, button {
    text-transform: uppercase;
}

/* Helper class */

.grid { display: grid; }
.flex { display: flex; }
.hidden { display: none; }

/* HEADER */
.header {
    &-top-menu {
        background: $background-color;
        position: relative;
        height: 21.5rem;
        .fas, .fab {
            color: $white;
            border: {
                left: 1px solid $gray;
            }
            padding: 0.75rem 1.35rem;
            line-height: 2rem;
        }
        .fa-bars {
            border: {
                right: 1px solid $gray;
                left: none;
            }
        }
        .logo {
            margin-top: 1.25rem;
        }
        .nav {
            justify-content: flex-end;
        }        
    }
}

/* SLIDER */
.slider {
    margin-top: -18.125rem;
    z-index: 1;
}

/* SIGN UP */
.sign-up {
    height: 11.25rem;
    padding: 2rem;
    h3 {
        @include montserrat-bold;
        letter-spacing: 0.3rem;
        font-size: 1.25rem;
    }
    input {
        @include hind-light;
        border: $white;
        font-size: 0.9rem;
        padding: .65rem 1.75rem;
        width: 100%;
        outline-color: $black;
    }
    button {
        @include hind-medium;
        font-size: 0.85rem;
        background: $black;
        color: $white;
        padding: .6rem 1.75rem;
        border: 1px solid transparent;
        cursor: pointer;
        &:hover {
            background: $white;
            transition: .5s ease;
            color: $black;
            border: 1px solid $black;
        }
    }
}

/* POSTS */
.posts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 4rem;
}

.post-card {
    &-image {
        height: 16rem;
        background: $light-gray;
        img { width: 100%; height: 100%; object-fit: cover; }
    }
    border: 1px solid $light-gray;
    &-header {
        text-align: center;
        .wrap {
            position: absolute;
            top: -3.5rem;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    &-body {
        position: relative;
        padding: 1.25rem 1.25rem;
        margin-top: 2rem;
        text-align: center;
        h6 { 
            @include hind-regular;
            font-size: 0.875rem;
            color: $gray;
        }
        p {
            padding: 0rem 2rem;
            margin-top: 2rem;
        }
        h3 {
            @include montserrat-bold;
            font-size: 1.25rem;
        }
    }
    &-footer {
        padding-top: 2rem;
        margin-top: 2rem;
        border-top: 1px solid $light-gray;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .social span i{
            padding: 0rem 0.5rem;
        }
        p {
            @include hind-regular;
            font-size: 0.875rem;
            display: inline-block;
        }
    }
    &-button
    {
        @include hind-medium;
        font-size: 0.875rem;
        margin-top: 2.5rem;
        padding: .2rem 1rem;
        background: transparent;
        border: {
            top:none;
            right:1px solid $light-gray-text;
            bottom:none;
            left:1px solid $light-gray-text;
        }
    }
    &:hover {
        transition: .5s ease;
        box-shadow: 0px 3px 25.52px 3.48px rgba(112, 112, 112, 0.49);
    }
}
.white {
    background: $white;
    .wrap {
        color: $black;
    }
    h3 {
        color: $black;
    }
}
.black {
    background: $black;
    .fa-pen-square {
        color: $white;
    }
    h3 {
        color: $white;
    }
}

/* SIDE BAR */

.sidebar {
    background: $white;
    padding: 2rem 2rem;   
    .input-group {
        &-text {
            background: $black;
            color: $white;
        }
        .form-control {
            outline: transparent;
        }
    }
    input {
        @include hind-light;
        border:$white;
        font-size: 0.9rem;
        padding: .65rem 1.75rem;
        width: 100%;
        outline-color: $black;
        margin-bottom: 1rem;
    }    
    h4 {
        margin: 2rem 0 1rem 0;
        text-align: center;
    }
    &:hover {
        transition: .5s ease;
        box-shadow: 0px 3px 25.52px 3.48px rgba(112, 112, 112, 0.49);
    }
    .categories {
        margin-bottom: 2rem;
        padding: 0;
        list-style: none;        
        li {
            text-transform: uppercase;
            padding: .6rem 0;
            border: {
                top: 1px solid $light-gray-text;
            }
            span {
                float: right;
            }
        }
    }
    .last-posts {
        li {
            display: flex;
            padding: 1.5rem 0 .8rem 0;
            border: {
                top: 1px solid $light-gray-text;
            }
        }
        .last-post-img {
            background: $light-gray;
            width: 125px;
            height: 75px;
            margin-right: 1rem;
        }
        li:hover {
            transition: .5s ease;
            box-shadow: 0px 3px 25.52px 3.48px rgba(112, 112, 112, 0.49);
        }
    }
    &-social {
        margin: 2rem 0rem;
        span {
            justify-content: space-around;
        }
    }
    &-slider {
        margin-bottom: 2rem;
    }
} 



/* ABOUT US */

.about {
    background: $background-color;
    &-twitter-name, &-comment-name {
        color: $white;
    }
    &-tweets {
        font-size: 0.9rem;
    }
    &-twitt {
        @include hind-light;
        font-size: 0.93rem;
        padding: {
            top: 0.625rem;
            bottom: 1.875rem;
            left: 1.1rem;
        }
    }
    &-instagram .instagram-photo {
        grid-template-columns: repeat(3, 1fr);
        background: $white;
        height: 12.5rem;
    }
    &-latest-comment {
        font-size: 0.875rem;
        @include mrssaint;
    }
    &-comment {
        padding: 0.93rem 0rem;
        border-bottom: 1px solid $gray;
    }
    &-comment:last-child {
        border-bottom: none;
    }

    .instagram-post {
        border: {
            right: 1px solid #000;
            bottom: 1px solid #000;
        } 
    }    
    .instagram-post:nth-child(2n) {
        border: {
            right: 1px solid #000;
            bottom: 1px solid #000;
        } 
    }
    .instagram-post:nth-child(3n) {
        border: {
            right: none;
            bottom: 1px solid #000;
        } 
    }
    .instagram-post:nth-child(5) {
        border: {
            right: 1px solid #000;
            bottom: none;
        } 
    }
    .instagram-post:nth-child(4) {
        border: {
            right: 1px solid #000;
            bottom: none;
        } 
    }
    .instagram-post:nth-child(6) {
        border: {
            right: none;
            bottom: none;
        } 
    }
    .fa-twitter {
        color:$white;
    }
    h6 {
        color:$white;
        @include montserrat-bold;
        margin: {
            top: 3.75rem;
            bottom: 2.8rem;
        }
    }
    p {
        color:$white;
    }
    .sign {
        height: 9.375rem;
        margin-bottom: 3.75rem;
        position: relative;
        background: #3a3c49 url('/images/sign.png') no-repeat bottom 15px right 15px;
    }
}

/* FOOTER */

.footer { 
    background: $footer-color; 
    color: $footer-text; 
    text-transform: uppercase; 
    a {
        text-decoration: none;
        color: $footer-text;
        margin: {
            left: 0.6rem;
            right: 0.6rem;
        }
    &:hover {
        text-decoration: none;
        color: $white;
        }
    }
}

/* ADMIN PANEL 1*/
.admin-form {
    width: 40rem;
    margin: 15rem auto;
}
.panel {
    background: $white;
    padding: 2rem;
    &:hover {
        transition: .5s ease;
        box-shadow: 0px 3px 25.52px 3.48px rgba(112, 112, 112, 0.49);
    }
}
.admin-header {
    background: url('/images/pattern.png') center no-repeat cover;
    height: 100px;
    text-align: center;
    margin: 2rem auto 3rem;
}